  <section id="bio">
    <img src="public/foto.jpg" alt="MiFoto">
    <p>
      Buenas, soy Ramón Zavala, estudiante de Ingeniería de la Ciencia de la Computación en la Universidad Católica de Honduras.
    </p>
  </section>